:root {
  --light-blue: #2069e0;
  --light-gray: #c2c2c2;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  color: var(--light-gray);
  background-color: rgb(27, 27, 27);
  font-family: var(--font);
  margin: 0;
}
.post {
  width: 250px;
}
form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
input,
textarea {
  background-color: grey;
  width: 100%;
  border: none;
  padding: 0.53rem;
  border-radius: 5px;
  resize: none;
}
#post-button {
  width: 100%;
}
/**/
.wallet {
  text-align: center;
  padding: 0.65rem;
  color: rgb(180, 180, 180);
  width: 320px;
}
.wallet i {
  font-weight: normal;
}
button {
  cursor: pointer;
  border: none;
  padding: 0.4rem 0.8rem;
  background-color: var(--light-blue);
  font-weight: bold;
  color: rgb(253, 253, 253);
  border-radius: 5px;
  transition: 300ms linear;
}
button:hover {
  color: var(--light-gray);
  background-color: rgb(100, 100, 100);
}
button:active {
  transform: scale(0.97);
}
/**/
header {
  position: sticky;
  top: 0;
  gap: 1rem;
  background-color: rgb(66, 66, 66);
  color: rgba(255, 255, 255, 0.719);
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  font-weight: bold;
  color: rgb(99, 207, 27);
}
/**/
main {
  gap: 1rem;
  margin: 1rem;
  padding: 0.5rem 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**/
.quote-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0.5rem;
  height: 100vh;
}
.quote {
  border-radius: 5px;
  width: 320px;
  border: 1px rgba(128, 128, 128, 0.473) solid;
  padding: 0.5rem;
}
.headers {
  border-bottom: 1px rgba(128, 128, 128, 0.466) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quote p {
  font-size: 1.2rem;
  padding: 0.3rem;
  color: rgb(7, 221, 0);
}
.footers {
  border-top: 1px rgba(128, 128, 128, 0.466) solid;
  padding: 0.3rem 0.2rem;
  font-size: 0.8rem;
}
